adfv2-dt-datamovment/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfv2-dt-datamovment"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DimensionDimDate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "EnterpriseProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dimension].[DimDate]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcess')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "ProcessProd",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "process"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tblProcess]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessRunHistoryDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ProcessProd",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "process"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tblProcessRunHistory]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessStatusDimensionDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ProcessProd",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "process"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tblProcessStatusDimension]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessTypeDimensionDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ProcessProd",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "process"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tblProcessTypeDimension]')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy data from on premise SQL Server to SQL Azure Initialload')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy data from on premise SQL Server to SQL Azure.\n\nYou can also go to \"Copy Data Tool\" to get the pipeline for more connectors and scenarios.",
				"activities": [
					{
						"name": "tblProcess sqltoazure",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE  [stg].[tblProcess]"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "tblProcess",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "aztblProcess",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblProcessStatusDimension",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE  [stg].[tblProcessStatusDimension]"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "tblProcessStatusDimensionDS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tblProcessStatusDimensionDT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblProcessTypeDimension",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE  [stg].[tblProcessTypeDimension]"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "tblProcessTypeDimensionDS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tblProcessTypeDimensionDT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblProcessRunHistory",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT * FROM [dbo].[tblProcessRunHistory] a WITH (NOLOCK)\nWHERE a.RowLoadTimeStamp >= DATEADD(DAY,-1,GETDATE())"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE  [stg].[tblProcessRunHistory]"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "tblProcessRunHistoryDS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tblProcessRunHistoryDT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "mergetblProcessRunHistory",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "tblProcessRunHistory",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "scd2DimProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "scd0DimProcessStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "scd0DimProcessType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "scd0DimProcessGroup",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "scd0DimWorkflowFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "scd0DimProcessOwner",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[mergetblProcessRunHistory]')]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "scd2DimProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "tblProcess sqltoazure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[scd2DimProcess]')]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "scd0DimProcessStatus",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "tblProcessStatusDimension",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[scd0DimProcessStatus]')]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "scd0DimProcessType",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "tblProcessTypeDimension",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[scd0DimProcessType]')]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "scd0DimProcessGroup",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "tblProcess sqltoazure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[scd0DimProcessGroup]')]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "scd0DimWorkflowFolder",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "tblProcess sqltoazure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[scd0DimWorkflowFolder]')]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "scd0DimProcessOwner",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "tblProcess sqltoazure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[scd0DimProcessOwner]')]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "processControl"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tblProcess')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessStatusDimensionDS')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessTypeDimensionDS')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessRunHistoryDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copySinkLoops')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "uspSinkLoop",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'adf].[uspSinkLoop]')]",
								"storedProcedureParameters": {
									"sinkgroup": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.sinkGroup",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "AzureSqlTableDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachCopySink",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "uspSinkLoop",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('uspSinkLoop').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Execute copySink",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "copySink",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"sinkName": {
												"value": "@item().sinkName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"sinkGroup": {
						"type": "String",
						"defaultValue": "dim_group"
					}
				},
				"folder": {
					"name": "dynamic"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy data from on premise SQL Server to SQL Azure Initialload",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-04-01T23:22:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								48
							],
							"hours": [
								14
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy data from on premise SQL Server to SQL Azure Initialload')]"
			]
		}
	]
}