adfv2-dt-datamovment/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfv2-dt-datamovment"
		},
		"AzureSqlDatabaseDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseDB'"
		},
		"joescomputerLS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'joescomputerLS'"
		},
		"joescomputerLS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'joescomputerLS'"
		},
		"ProcessProd_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ProcessProd'"
		},
		"ProcessProd_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ProcessProd'"
		},
		"AzureDataLakeStorageGen2_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@activity('uspGetSink').output.firstRow.sinkValue"
		},
		"AzureDataLakeStoreFileDynamic_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@activity('uspGetSink').output.firstRow.sinkValue"
		},
		"AzureDataLakeStorageGen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dtadlsgen2.dfs.core.windows.net"
		},
		"AzureDataLakeStoreDynamic_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://passdevdatalake.azuredatalakestore.net/webhdfs/v1"
		},
		"AzureDataLakeStoreDynamic_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "4bc7b452-73c9-4301-ace5-fff7e1d3f97f"
		},
		"AzureDataLakeStoreDynamic_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "47eece0b-9fab-4016-befa-6cb504cf566f"
		},
		"AzureDataLakeStoreDynamic_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "PASSsummit2018"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://pass-dev-kvd2.vault.azure.net/"
		},
		"joescomputerLS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "COEXIST\\jbarth"
		},
		"ProcessProd_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "COEXIST\\jbarth"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/copySink')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQLtoADLS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "uspGetSink",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "@activity('uspGetSink').output.firstRow.sourceValue",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTableDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDataLakeStorageGen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "uspGetSink",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'adf].[uspGetSink]')]",
								"storedProcedureParameters": {
									"sinkName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.sinkName",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "AzureSqlTableDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"parameters": {
					"sinkName": {
						"type": "String",
						"defaultValue": "SalesLT_Address"
					}
				},
				"folder": {
					"name": "dynamic"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableDB')]",
				"[concat(variables('factoryId'), '/datasets/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copySinkLoops')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "uspSinkLoop",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderStoredProcedureName": "[concat('[', 'adf].[uspSinkLoop]')]",
								"storedProcedureParameters": {
									"sinkgroup": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.sinkGroup",
											"type": "Expression"
										}
									}
								}
							},
							"dataset": {
								"referenceName": "AzureSqlTableDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachCopySink",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "uspSinkLoop",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('uspSinkLoop').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Execute copySink",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "copySink",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"sinkName": {
												"value": "@item().sinkName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"sinkGroup": {
						"type": "String",
						"defaultValue": "dim_group"
					}
				},
				"folder": {
					"name": "dynamic"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableDB')]",
				"[concat(variables('factoryId'), '/pipelines/copySink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageGen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"folderPath": {
						"value": "[parameters('AzureDataLakeStorageGen2_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreFileDynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoreDynamic",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dynamic"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects"
					},
					"folderPath": {
						"value": "[parameters('AzureDataLakeStoreFileDynamic_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoreDynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dynamic"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWHTEST_DATAWAREHOUSE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "joescomputerLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/joescomputerLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageGen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageGen2_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreDynamic')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('AzureDataLakeStoreDynamic_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('AzureDataLakeStoreDynamic_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('AzureDataLakeStoreDynamic_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureDataLakeStoreDynamic_properties_typeProperties_resourceGroupName')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntimeEUS",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntimeEUS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/joescomputerLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('joescomputerLS_connectionString')]",
					"userName": "[parameters('joescomputerLS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('joescomputerLS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "JoesComputer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/JoesComputer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JoesComputer')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeEUS')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcess')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "ProcessProd",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "process"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tblProcess]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ProcessProd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataDestination1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data destination store.",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy data from on premise SQL Server to SQL Azure Initialload')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy data from on premise SQL Server to SQL Azure.\n\nYou can also go to \"Copy Data Tool\" to get the pipeline for more connectors and scenarios.",
				"activities": [
					{
						"name": "tblProcess sqltoazure",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE  [stg].[tblProcess]"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "tblProcess",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "aztblProcess",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblProcessStatusDimension",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE  [stg].[tblProcessStatusDimension]"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "tblProcessStatusDimensionDS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tblProcessStatusDimensionDT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblProcessTypeDimension",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE  [stg].[tblProcessTypeDimension]"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "tblProcessTypeDimensionDS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tblProcessTypeDimensionDT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblProcessRunHistory",
						"description": "Copy data from SQL server to SQL Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE  [stg].[tblProcessRunHistory]"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "tblProcessRunHistoryDS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tblProcessRunHistoryDT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tblProcess')]",
				"[concat(variables('factoryId'), '/datasets/aztblProcess')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessStatusDimensionDS')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessStatusDimensionDT')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessTypeDimensionDS')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessTypeDimensionDT')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessRunHistoryDS')]",
				"[concat(variables('factoryId'), '/datasets/tblProcessRunHistoryDT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessProd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ProcessProd_connectionString')]",
					"userName": "[parameters('ProcessProd_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ProcessProd_password')]"
					}
				},
				"connectVia": {
					"referenceName": "JoesComputer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/JoesComputer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/aztblProcess')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "process"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'stg].[tblProcess]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessStatusDimensionDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ProcessProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tblProcessStatusDimension]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ProcessProd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessTypeDimensionDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ProcessProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tblProcessTypeDimension]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ProcessProd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessRunHistoryDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ProcessProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tblProcessRunHistory]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ProcessProd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessStatusDimensionDT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'stg].[tblProcessStatusDimension]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessTypeDimensionDT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'stg].[tblProcessTypeDimension]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblProcessRunHistoryDT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'stg].[tblProcessRunHistory]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDB')]"
			]
		}
	]
}